html, body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}
h1 {
  font-family: "Source Code Pro", Arial, sans-serif;
  font-size: large;
}
p {
  font-family: "Source Code Pro", Arial, sans-serif;
  font-size: small;
}
canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}
nav ul li {
  font-family: "Source Code Pro", Arial, sans-serif;
  font-size: medium;
  text-align: center;
  display: inline;
  padding-right: 15px;
  border-style: solid;
  border-width: thin;
  padding-left: 15px;
  max-width: 100px;
  background-color: #000000;
  color: #FFFFFF;
}ul li a {
    color: #FFFFFF;
    text-decoration: none;
}
#p5 {
    display: block;
}
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
